@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ticker {
  animation: scroll 20s linear infinite;
}

.carousel-scroll {
  animation: carousel-scroll 30s linear infinite;
}